@import "compass/css3";

@mixin grille($tailleCol, $nbCol, $largBox, $decal){
	@include box-sizing(border-box);
	display: inline-block;
	$tailleCoutiere : (( 100 - ( $nbCol *  $tailleCol )) / $nbCol );
	margin-left: (( $decal * $tailleCol ) + (( $decal + 1 ) * $tailleCoutiere ));

	width: (( $largBox * $tailleCol ) + (( $largBox -  1 ) * $tailleCoutiere ));
} 

@mixin grilleTwoMarg($tailleCol, $nbCol, $largBox, $decal){
	@include box-sizing(border-box);
	display: inline-block;
	$tailleCoutiere : (( 100 - ( $nbCol *  $tailleCol )) / $nbCol );
	margin-left: (( $decal * $tailleCol ) + (( $decal + 1 ) * $tailleCoutiere ))/2;
	margin-right: (( $decal * $tailleCol ) + (( $decal + 1 ) * $tailleCoutiere ))/2;

	width: (( $largBox * $tailleCol ) + (( $largBox -  1 ) * $tailleCoutiere ));
} 

@mixin grilleNoMarg($tailleCol, $nbCol, $largBox, $decal){
	@include box-sizing(border-box);
	display: inline-block;
	$tailleCoutiere : (( 100 - ( $nbCol *  $tailleCol )) / $nbCol );
	width: (( $largBox * $tailleCol ) + (( $largBox -  1 ) * $tailleCoutiere )) + $tailleCoutiere;
}

@mixin contener(){
	font-size: 0;
}