@import "compass/reset";
@import "grille";

$tailleCol: 20%; 
$nbcol:4;
html,body{
	height: 100%;
	font-family: "MS Arial", "ITC Avant Garde Gothic", "Helvetica", "Courier";
}
body {
	@include contener();
	background-color: #E1E1E1;

}
p, a, ul, li, h1, h2 {
	font-size: 1rem;
}
header{
	@include contener();
	overflow: hidden;
	@include grilleNoMarg($tailleCol, $nbcol, 4, 0);
	background-color: #ffffff;
	& > a {
		@include contener();
		@include grilleNoMarg($tailleCol, $nbcol, 0.75, 0);
		border-bottom: 2px solid #456DA4 ;
		& > img {
			width: 100%;
		}
	}
	& > h1{
		@include grille($tailleCol,$nbcol, 1, 0);
		position: absolute;
		margin-top: 5%;
		color: #000000;
		font-size: 1.25rem;
	}
	& > form{
		position: absolute;
		margin-top: 1.5%;
		& > button{
			border-radius: 2px;
			font-size: 1rem;
			padding: 1%; 
		}
	}
	& > form:nth-child(1n) {
		@include grille($tailleCol, $nbcol, 1, 1);
		& > button#registration {
			width: 100%;
			background-color: #ffffff;
			border: #888bbb solid 2px;
			color: #000000;
		}
	}
	& > form:nth-child(2n) {
		@include grille($tailleCol, $nbcol, 1, 2);
		& > button#connect {
			width: 100%;
			background-color: #888BBB;
			border : solid #888BBB 2px;
			color: #ffffff;
		}
	}
	& > ul {
		@include contener();
		@include grilleNoMarg($tailleCol,$nbcol, 3.25, 0);
		vertical-align: bottom;
		background-color: #B5B5B5;
		border-bottom: 2px solid #929292;
		& > li{
			font-size: 1rem;
			text-align: center;
			padding-top: 2%;
			padding-bottom: 2%;
			@include grille( 30%, 3, 1, 0);
			&:hover {
				background-color: #929292;
			}
			& > a {
				color: #ffffff;
				text-decoration: none;
			}	
		}

	}
	@media screen and (orientation: portrait) and (max-width: 800px){
		& {
			& > a {
				@include grilleNoMarg($tailleCol, $nbcol, 2, 0);
				& > img {
					width: 100%;
				}
			}
			& > form:nth-child(1n) {
				margin-top: 15%;
				@include grille($tailleCol, $nbcol, 1.75, 0);
				
			}
			& > form:nth-child(2n) {
				@include grille($tailleCol, $nbcol, 1.75, 0);
				margin-top: 30%;
			}
			& > ul {
				@include contener();
				@include grilleNoMarg($tailleCol,$nbcol, 4, 0);
				& > li{
					margin-left: 0%;
					width: 100%;
				}
			}
		}
	}
	@media screen and (min-width: 800px){
		& {
			& > a {
				@include grilleNoMarg($tailleCol, $nbcol, 0.5, 0);
				& > img {
					width: 100%;
				}
			}
			& > ul {
				@include contener();
				@include grilleNoMarg($tailleCol,$nbcol, 3.5, 0);
				& > li {
					padding-top: 1%;
					padding-bottom: 1%;
				}
			}
			& > form:nth-child(1n) {
				@include grille($tailleCol, $nbcol, 1, 1.25);
			}
			& > form:nth-child(2n) {
				@include grille($tailleCol, $nbcol, 1, 2.25);	
			}
		}
	}
}

nav{
	@include contener();
	@include grilleNoMarg($tailleCol, $nbcol, 4, 0);
	& > ul {
		@include contener();
		@include grilleNoMarg($tailleCol,$nbcol, 4, 0);
		background-color: #4D8FE8;
		& > li{
			font-size: 1rem;
			text-align: center;
			padding-top: 2%;
			padding-bottom: 2%; 
			@include grilleNoMarg( 50%, 2, 1, 0);
			border-bottom: solid 2px #4D8FE8;
			&:nth-child(1){
				border-right: solid 2px #456DA4;
			}
			&:hover {
				background-color: #456DA4;
				border-bottom: solid 2px #456DA4;
			}
			& > a {
				color: #ffffff;
				text-decoration: none;
			}	
		}
	}
	@media screen and (min-width: 800px){
		& {
			& > ul {
				& > li {
					padding-top: 1%;
					padding-bottom: 1%;
				}
			}
		}
		&#navIndex {
			display: none;
		}
	}
}

section {
	@include contener();
	@include grilleNoMarg($tailleCol,$nbcol, 4, 0);
	& > article {	
		@include grilleNoMarg($tailleCol,$nbcol, 4, 0);
		@include contener();
		& > ul {
			@include grilleNoMarg($tailleCol,$nbcol, 4, 0);
			@include contener();
			& > li > a {
				@include grilleNoMarg($tailleCol,$nbcol, 4, 0);
				@include contener();
				padding-top: 1%;
				padding-bottom: 2%;
				border-bottom: 2px solid #D3D3D3 ;
				color: #3d3d3d;
				& > img {
					@include grille($tailleCol,$nbcol, 1.25, 0);
				}
				& > p {
					vertical-align: top;
					@include grille($tailleCol,$nbcol, 0.75, 0);
				}
			}
		}
		& > a {
			font-size: 1.25rem;
			@include grille($tailleCol, $nbcol, 2, 0);
			margin-top: 2%;
			color: #3C3C3C;
			text-decoration: none;
		}
	}
	& > #indexCat{
		display: none;
	}
	& > nav#filtre{
		& > form{
			background-color: #BEBEBE;
			padding-bottom: 2%;
			& > input{
				@include grilleTwoMarg(40%, 2, 1, 0);
				padding: 1%;
				margin-top: 1.25%;
				&[type="text"]{
					border: 2px solid #4D8FE8;
					border-radius: 2px;
					background-color: #E3E3E3;
				}
			}
			& > select{
				@include grilleTwoMarg(40%, 2, 1, 0);
				padding: 1%;
				margin-top: 1.25%;
			}
			& > button{
				@include grilleTwoMarg(25%, 3, 1, 2);
				padding: 1%;
				margin-top: 1.25%;
				border: none;
				border-bottom: 2px solid #456DA4;
				background-color: #4D8FE8;
				border-radius: 2px;
			}
		} 
	}
	& > form {	
		@include grilleTwoMarg(40%, 2, 2, 0);
		@include contener();
	
		& > input{
		@include grilleTwoMarg(40%, 2, 2, 0);
			padding: 1%;
			margin-top: 1.25%;
			border: 2px solid #4D8FE8;
			border-radius: 2px;
			background-color: #E3E3E3;
		
		}
		& > input[type="radio"]{
			@include grilleTwoMarg(40%, 2, 1, 0);
			border:none;
			background-color: none;
		}
		& > label{
			@include grilleTwoMarg(40%, 2, 1, 0);
			border:none;
			background-color: none;
			color: #000;
			font-size: 1rem;
		}
		& > p{
			@include grilleTwoMarg(40%, 2, 0.70, 0);

		}
		& > input[type="file"]{
			@include grilleTwoMarg(40%, 2, 1.25, 0);
			
			border:none;
			background-color: none;

		}
		& > select{
		@include grilleTwoMarg(40%, 2, 1, 0);
			padding: 1%;
			margin-top: 1.25%;

		}
		& > textarea{
			@include grilleTwoMarg(40%, 2, 2, 0);
			padding: 1%;
			margin-top: 1.25%;
			border: 2px solid #4D8FE8;
			border-radius: 2px;
			background-color: #E3E3E3;
		}
		& > button{
			@include grilleTwoMarg(40%, 2, 1, 1);
			padding: 1%;
			margin-top: 1.25%;
			border: none;
			border-bottom: 2px solid #456DA4;
			background-color: #4D8FE8;
			border-radius: 2px;
		}
	}
	h1 {
		@include grilleTwoMarg(90%, 1, 1, 0);
		font-size: 1.5rem;
		margin-top: 1.5%;
		border-bottom: 2px solid #bebebe;
		@include box-sizing(border-box);
		padding-bottom: 1%;
	}

	@media screen and (orientation: portrait) and (max-width: 800px){
		&{
			& > article {	
				
				& > ul {
					
					& > li > a {
						& > img {
							@include grille($tailleCol,$nbcol, 1.25, 0);
						}
						& > p {
							vertical-align: top;
							@include grille($tailleCol,$nbcol, 1.25, 0);
						}
					}
				}
			}
		}
		& > nav#filtre{
			& > form{
				& > input{
					@include grilleTwoMarg(40%, 2, 2, 0);
				}
				& > select{
					@include grilleTwoMarg(40%, 2, 2, 0);
				}
				& > button{
					@include grilleTwoMarg(25%, 3, 1.5,1.5);
				}
			} 
		}
	}
	@media screen and (min-width: 800px){
		&{
			& > article {	
			
				& > ul {
					
					& > li > a {
						& > img {
							@include grille($tailleCol,$nbcol, 1, 0);
						}
						& > p {
							vertical-align: top;
							@include grille($tailleCol,$nbcol, 1, 0);
						}
					}
				}
			}
		}
		&#secIndex{
			margin-top: 2%;
			@include grilleNoMarg($tailleCol,$nbcol, 4, 0);
			& > article {
				@include grille($tailleCol,$nbcol, 2.75, 0);
				border : 2px solid #C6C6C6;
			}
			& > #indexCat{
				vertical-align: top;
				@include grille($tailleCol,$nbcol, 1, 0);
				border : 2px solid #C6C6C6;
				& > a {
					width: 100%;
				}
			}
		}
		& > nav#filtre{
			& > form{
				& > input{
					padding: 0.25%;
					@include grilleTwoMarg(18%, 5, 1, 0);
				}
				& > select{
					padding: 0.25%;
					@include grilleTwoMarg(18%, 5, 1, 0);
				}
				& > button{
					padding: 0.25%;
					@include grilleTwoMarg(18%, 5, 1,0);
				}
			} 
		}
		& > form {	
			& > input{
				padding: 0.5%;
			}
			& > select{
				padding: 0.5%;
			}
			& > textarea{
				padding: 0.5%;
			}
			& > button{
				padding: 0.5%;
			}
		}
	}
}

#account{
	& > form{
		& > p{
			@include grilleTwoMarg(40%, 2, 2, 0);
		}
	}
}

#annonce{

	& > p{
			@include grilleTwoMarg(40%, 2, 1.25, 0);

		}
	& > a{
			@include grille(40%, 2, 1, 1);
			padding: 1%;
			margin-top: 1.25%;
			text-decoration: none;
			color: #4D8FE8;
			&:hover{
				color:#5A9EEE;
			}

		}
	& > img{
			@include grilleTwoMarg(40%, 2, 1, 1);
			padding: 1%;
			margin-top: 1.25%;

		}
	& > input{
			@include grilleTwoMarg(40%, 2, 1, 1);
			padding: 1%;
			margin-top: 1.25%;
			border: 2px solid #4D8FE8;
			border-radius: 2px;
			background-color: #E3E3E3;
	}
	& > button{
			@include grilleTwoMarg(40%, 2, 1, 0);
			padding: 1%;
			margin-top: 1.25%;
			border: none;
			border-bottom: 2px solid #456DA4;
			background-color: #4D8FE8;
			border-radius: 2px;

		}
	& > h2{
			@include grilleTwoMarg(40%, 2, 1, 0);

		}
}